.nav-item {
  text-align: right;
  margin-right: 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0d0c0c;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
